.page-header {
  background-color: #0b0022;
  min-height: inherit;
}

.section {
  background-color: #0b0022;
}

.card[data-background='image']:after {
  background-color: rgba(0, 0, 0, 0);
}

.noUi-handle {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  left: 65%;
  top: -25px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-out;
  border: 1px solid;
}

.slider .noUi-handle {
  border-color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.slider-img {
  width:50px;
  height:50px;
  position:absolute;
  top:0px;
  left:0px;
  z-index:-2;
  animation: animate 1.5s linear infinite;
}

#slider-step {
  margin-bottom: 5rem;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}


@keyframes animate {
  0% {
      transform: rotate(10deg);
  }

  25% {
      transform: rotate(0deg);
  }

  50% {
      transform: rotate(-10deg);
  }

  75% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(10deg);
  }
}


.noUi-horizontal {
  height: 3px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
  display: none;
}


.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
  display: none;
}


.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}

.noUi-value-sub {
  color: #ccc;
  font-size: 15px;
  font-weight: bold;
}


.noUi-value-large{
  color: #ccc;
  font-size: 15px;
  font-weight: bold;
}


/*           Font Smoothing      */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.navbar,
.brand,
a,
.td-name,
td,
button,
input,
select,
textarea {
  font-weight: 400;
}


.card[data-color='white'] .card-description {
  color: black
}


.card[data-color='white'] .card-title {
  color: black !important
}